<div class="content-tile light-shadow">
  <div class="press-header">
		<h1>&ldquo;Seventeen&rdquo; - First track from the album! </h1>
		<h3>~ March 2016 ~</h3>
	</div>
	<p> First track off the new album hold on to your butt it's over 6 minutes long. This here's just a glimpse of garage-rock pop sounds from the our first full-length.</p>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/249600573&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>

<div class="content-tile light-shadow">
  <div class="press-header">
    <h1>&ldquo;Wild&rdquo; - Music Video </h1>
    <h3>September 2015</h3>
  </div>
  <p> Check out our vampire themed music vidya to "Wild".  Thanks to Chantel Beam and the rest for shooting this guy- it was a blast. </p>
  <iframe width="500" height="315" src="https://www.youtube.com/embed/AEN1lVIyMaE" frameborder="0" allowfullscreen></iframe>
</div>

<div class="content-tile light-shadow">
  <div class="press-header">
    <h1>Facebook - Follow us </h1>
    <h3>Don't think! Just do it!</h3>
  </div>
  <div id="fb-root"></div>
  <div class="fb-page" width="500" data-href="https://www.facebook.com/thebandicecream/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/thebandicecream/"><a href="https://www.facebook.com/thebandicecream/">ICE CREAM</a></blockquote></div></div>
</div>

<div class="light-shadow content-tile">
  <div class="press-header">
    <h1>Upcoming Shows</h1>
    <h3>See us live.  In the nude!</h3>
  </div>
  <div id="tour-dates"></div>
</div>

<div class="content-tile light-shadow">
  <div class="press-header">
    <h1>&ldquo;Ice Cream EP&rdquo; - Download now! FREE!? </h1>
    <h3>January 2015</h3>
  </div>
  <p> Excited to say our first 5 tunes are ready to be injected right into your earholes.  Recorded at Carny Studios in SF with the one and only Mike Carnahan.  Give it a listen. </p>
  <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=4230529859/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://thebandicecream.bandcamp.com/album/were-set">We&#39;re set by Ice Cream</a></iframe>
</div>
